{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["react", "babel"],
	"rules": {
		"strict": 0,
		"no-console": ["error", { "allow": ["error", "log"] }],
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"eol-last": ["error", "always"],
		"no-multiple-empty-lines": "error",
		"no-trailing-spaces": "error",
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error"
	},
	"settings": {
		"import/resolver": {
			"babel-module": {}
		}
	}
}
