.home-bookTitle {
	margin-bottom: 0.3rem;
	display: inline-block;
}

.homeTiles {
	p {
		margin: 0.25rem 0px;
	}
	a {
		&:hover {
			opacity: 0.8;
		}
	}
}

// /* bugfix for edge only */
// remove this once bulma is fixed
@supports (-ms-ime-align: auto) {
	.navbar-item {
		&.is-hoverable:hover {
			.navbar-dropdown {
				display: block;
				opacity: 1;
			}
		}
	}
}

.trait {
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;

	font-family: 'Bodoni 6';
	font-weight: 400 !important;
	font-size: 85%;
	font-variant-caps: small-caps;
	font-variant: small-caps;
}

.traitName {
	font-family: 'Bodoni 6';
	// font-weight: bold;
	font-size: 85%;
	font-variant-caps: small-caps;
	font-variant: small-caps;
}

hr {
	background-color: #ccc;
}

.socialMediaBar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.5rem 0.3rem !important;
	flex-flow: wrap;
	.socialMediaItem {
		margin: 0 0.5rem;
		height: 2rem;
		display: flex;
		align-items: center;
	}
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {
	margin: 1rem auto;
	margin-right: 2rem;
	float: left;
	font-size: 5px;
	position: relative;
	// text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 5s infinite linear;
	animation: load8 5s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#yt-subscribe {
	overflow: auto;
	position: relative;
	top: 4px;
}

#mc-embedded-subscribe-form input[type='checkbox'] {
	display: inline;
	margin-right: 10px;
}
#mergeRow-gdpr {
	margin-top: 20px;
}
#mergeRow-gdpr fieldset label {
	font-weight: normal;
}
#mc-embedded-subscribe-form .mc_fieldset {
	border: none;
	min-height: 0px;
	padding-bottom: 0px;
}

#mc_embed_signup .mc-field-group {
	padding-bottom: 0.4rem !important;
}

.footer {
	padding: 0 !important;
	.footerLinks {
		a {
			margin: 0.25rem 1.75rem;
		}
	}
}

section.bookPurchase {
	line-height: 1.1;
}

/* YouTubeEmbed */
.youtube-player {
	position: relative;
	padding-bottom: 56.23%;
	/* Use 75% for 4:3 videos */
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 5px;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		background: transparent;
	}

	img {
		bottom: 0;
		display: block;
		left: 0;
		margin: auto;
		max-width: 100%;
		width: 100%;
		position: absolute;
		right: 0;
		top: 0;
		border: none;
		height: auto;
		cursor: pointer;
		-webkit-transition: 0.4s all;
		-moz-transition: 0.4s all;
		transition: 0.4s all;
	}

	img:hover {
		-webkit-filter: brightness(75%);
		filter: brightness(75%);
	}

	.play {
		height: 72px;
		width: 72px;
		left: 50%;
		top: 50%;
		margin-left: -36px;
		margin-top: -36px;
		position: absolute;
		background: url('//i.imgur.com/TxzC70f.png') no-repeat;
		cursor: pointer;
	}
}

/* recaptcha */
.grecaptcha-badge {
	visibility: hidden;
}

/* LOADING SPINNER */

.loading_spinner-wrap {
	width: 100%;
	padding: 50px 0;
}

.loading_spinner {
	display: block;
	margin: 0 auto;
	fill: #000;

	circle {
		animation-name: upAndDown;
		animation-duration: 2s;
		animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
		animation-iteration-count: infinite;

		&:nth-child(2) {
			animation-delay: 0.18s;
		}

		&:nth-child(3) {
			animation-delay: 0.36s;
		}
	}
}

@keyframes upAndDown {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	25% {
		opacity: 1;
		transform: translateY(-10px);
	}
	75% {
		opacity: 1;
		transform: translateY(-10px);
	}
	100% {
		opacity: 0;
		transform: translateY(0);
	}
}

/* END LOADING SPINNER */

#contactForm {
	input[type='text'] {
		min-width: 100%;
	}
	input[type='textarea'] {
		min-width: 100%;
	}
}

#mailchimpForm {
	input[type='text'] {
		min-width: 100%;
	}
	input[type='textarea'] {
		min-width: 100%;
	}

	label {
		text-align: left;
	}
}

// subscribe popup
.ReactModalPortal {
	z-index: 9999999999;

	.slide-pane_from_bottom {
		height: 35vh;
		margin-top: 65vh;
	}

	@media only screen and (max-width: 768px) {
		.slide-pane_from_bottom {
			height: 50vh;
			margin-top: 50vh;
		}
	}

	#miniMailchimpForm {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		fieldset {
			width: 75%;
		}
	}

	.ReactModal__Content {
		width: 100% !important;
		max-width: 768px;
		position: fixed;
		right: 0;
	}

	.slide-pane__header {
		flex-direction: row-reverse;
		height: 64px;
		background: none;
		border: none;
		.slide-pane__title-wrapper {
			margin: 0;
			padding: 0;
		}

		.slide-pane__title {
			font-weight: bold;
			font-variant-caps: small-caps;
			font-variant: small-caps;
			max-width: 100%;
			height: 62px;
		}

		.slide-pane__close {
			margin-left: 0;
			padding: 0;
			height: 64px;
		}

		.notification {
			border-radius: 0;
			padding: 1rem;
			height: 62px;
		}
	}

	.slide-pane__content {
		padding: 0.3rem;

		.field {
			margin-bottom: 0.45rem;
		}

		.control {
			font-size: 0.9rem;
		}
	}
}

// buy me a coffee
.bmc-button img {
	height: 34px !important;
	width: 35px !important;
	margin-bottom: 1px !important;
	box-shadow: none !important;
	border: none !important;
	vertical-align: middle !important;
}
.bmc-button {
	padding: 7px 10px 7px 10px !important;
	line-height: 35px !important;
	height: 51px !important;
	min-width: 217px !important;
	text-decoration: none !important;
	display: inline-flex !important;
	color: #ffffff !important;
	background-color: #5f7fff !important;
	border-radius: 5px !important;
	border: 1px solid transparent !important;
	padding: 7px 10px 7px 10px !important;
	font-size: 20px !important;
	letter-spacing: -0.08px !important;
	box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
	-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	margin: 0 auto !important;
	font-family: 'Jost*', sans-serif !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-o-transition: 0.3s all linear !important;
	-webkit-transition: 0.3s all linear !important;
	-moz-transition: 0.3s all linear !important;
	-ms-transition: 0.3s all linear !important;
	transition: 0.3s all linear !important;
}
.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
	-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	text-decoration: none !important;
	box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
	opacity: 0.85 !important;
	color: #ffffff !important;
}
